body,html{
  margin: 0;
  padding: 0;
  background-color: #0d64b94d;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5px;

}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
/*Header*/
header{
  background:#d0bc2096;
  color: #ffffff;
  min-height: 70px;
  padding: 10px;
  border-top: #ffffff solid 3px;
  border-bottom: #ffffff solid 3px;
}
header h1{
  float: left;
  padding: 10px;
}
header form{
  float: right;
  padding: 20px;
}

header input{
  height: 20px;
  width:auto;
  border: #ffffff solid 1px;
}
#button{
  height: 25px;
  border: 0;
  padding: 0 5px 0 5px;
  background-color: #ffffff;
  color: black;
}
#showcase{
  min-height: 500px;
    text-align: center;
  color:#ffffff;
}
@keyframes slider {
  0%{
    left: 0;
  }

  50%{
    left:-200%;
  }
  100%{
    left: -400%;
  }
}
#slider{
    overflow: hidden;
}
#slider figure img{
  float: left;
  width: 20%;
}
#slider figure {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slider infinite;
}

footer{
  background:#d0bc2096;
  color: #ffffff;
  min-height: 30px;
  padding: 10px;
  border-top: #ffffff solid 3px;
  border-bottom: #ffffff solid 3px;
  text-align: center;
}
